/* 모달 스타일 */
.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
    font-size: 20px;
    color: #A98467;
 }
 
 .modal-content {
    background-color: #fefefe;
    margin: auto;
    /* padding: 50px; */
    border: 3px solid #A98467;
    width: 40%;
    height: 70%;
    max-height: 100%; /*스크롤제한높이*/
    overflow-y: auto;/*스크롤활성화*/
 }
 
 .modal-content #modalDate{
    margin-top: 120px;
    margin-left: 350px;
 }
 
 .close {
    width: 762px; height: 40px;
    line-height: 38px;
    display: block;
    color: #fff;
    background-color: #A98467;
    float: right;
    font-size: 45px;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
    position: fixed;
 }

  #school-con{
    width: 660px; height: 125px;
    /* border: 1px solid #6C584C; */
    background-color: #F2CEB2;
    border-radius: 20px;
    display: flex;
    margin-top: 70px;
 }
 #school-search{
    width: 580px; height: 245px;
    margin-left: 80px;
 }
 #school-search > #school-info{
    width: 300px; height: 245px;
    float: left;
    margin-top: 35px;
 }
 #schoolName-search > input[type="text"]{
    width: 300px; height: 50px;
    color: #6C584C;
    font-size: 20px;
    font-weight: 800;
    border: 2px solid #6C584C;
    border-radius: 10px;
    padding: 15px;
 }
 #schoolSearch-btn{
    width: 110px; height: 50px;
    align-items: center;
    display: flex;
    margin-top: 35px;
 }
 #schoolSearch-btn > input[type="button"]{
    width: 110px; height: 50px;
    background-color: #fff;
    border: #6C584C 2px solid;
    border-radius: 10px;
    color: #6C584C;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    letter-spacing: 5px;
    cursor: pointer;
 }
 #schoolSearch-btn > input[type="button"]:hover{
    background-color: #6C584C;
    color: #fff;
 }

 
 #school-list{
    width: 660px; height: 270px;
    border: 1px solid #6C584C;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow-y: scroll;
 }

 /* 학교 검색 리스트 테이블 */


 #school-list table{
   width: 100%; height: fit-content;
   text-align: center;
   table-layout: fixed;
   border: none;
   border-bottom: 1px #6C584C solid;
   border-collapse: collapse;
 }
 #school-list table tr{
   border-bottom: 1px solid #6C584C;
 }
 #school-list table tr th{
   width: 100%; height: 40px;
   border-bottom: 1px solid #6C584C;
   border-left: 1px solid #6C584C;
   padding: 10px;

 }
 #school-list table tr th:nth-child(1){
    width: 30%; height: 30px;
    border-left: none;
 }
 #school-list table tr th:nth-child(2){
   width: 65%; height: 30px;
 }
 #school-list table tr td{
   border-left: #6C584C 1px solid;
   padding: 10px;
 }
 #school-list table tr td:first-child{
   border-left: none;
   text-decoration: underline; 
   cursor: pointer;
 }
 #school-list table tr td a{
   color: #6C584C;
   font-weight: 800;
   text-decoration: underline;
 }

 .close:hover,
 .close:focus {
    color: #705845;
    text-decoration: none;
    cursor: pointer;
 }
 
 /* 스크롤바 전체 스타일 */
 #school-list::-webkit-scrollbar {
    width: 10px;
 }
 
 /* 스크롤바 트랙(배경) 스타일 */
 #school-list::-webkit-scrollbar-track {
    background: #F2CEB2; 
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
 }
 
 /* 스크롤바 핸들 스타일 */
 #school-list::-webkit-scrollbar-thumb {
    background: #A98467; /* 핸들 색상 */
    border-radius: 10px; /* 둥근 모서리 */
 }
 
 /* 스크롤바 핸들에 호버했을 때 스타일 */
 #school-list::-webkit-scrollbar-thumb:hover {
    background: #81644e; /* 호버 시 핸들 색상 */
 }