<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="afterMapper">
	<!-- 방과후 -->
	<resultMap type="AfterSchool" id="AfterSchoolResultSet">
		<result column="CODE" property="code" />
		<result column="TC_ID" property="tcId" />
		<result column="CLASS_NAME" property="className" />
		<result column="EXPLANATION" property="explanation" />
	</resultMap>



	<!-- 방과후 게시판 -->
	<resultMap type="AfterSchoolBoard" id="afterSchoolBoardResultSet">
		<result column="BO_NO" property="boNo" />
		<result column="STU_ID" property="stuId" />
		<result column="CODE" property="code" />
		<result column="TITLE" property="title" />
		<result column="BO_CONTENT" property="boContent" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="STU_NAME" property="stuName" />
	</resultMap>


	<!-- 게시글 총 갯수 조회 -->
	<select id="afterBoardCount" resultType="_int">
		SELECT COUNT(*)
		FROM
		AFTERSCHOOL_BOARD
		WHERE CODE = #{code}
	</select>

	<!-- 게시글 조회 -->
	<select id="selectAfterBoard"
		resultMap="afterSchoolBoardResultSet">
		    SELECT 
			    B.BO_NO, 
			    B.STU_ID, 
			    B.CODE, 
			    B.TITLE, 
			    B.BO_CONTENT, 
			    B.CREATE_DATE,
			    S.STU_NAME
			FROM 
			    AFTERSCHOOL_BOARD B
			LEFT JOIN 
			    STUDENT S ON B.STU_ID = S.STU_ID
			     WHERE CODE = #{code}
			ORDER BY 
			    B.BO_NO ASC
	</select>




	<!-- 방과후게시판 파일 -->
	<resultMap type="AfterSchoolBoardFile"
		id="afterSchoolBoardFileResultSet">
		<result column="BO_NO" property="boNo" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
	</resultMap>




	<!-- 방과후게시판 사진 -->
	<resultMap type="AfterSchoolBoardPicture"
		id="afterSchoolBoardPictureResultSet">
		<result column="BO_NO" property="boNo" />
		<result column="PIC_AD" property="picAd" />
	</resultMap>




	<!-- 방과후게시판 학생 -->
	<resultMap type="AfterSchoolStudent"
		id="afterSchoolStudentResultSet">
		<result column="STU_ID" property="stuId" />
		<result column="CODE" property="code" />
		<result column="STATUS" property="status" />
		<result property="classCode" column="CLASS_CODE" />
		<result property="stuName" column="STU_NAME" />
	</resultMap>
	
	<!-- 방과후 글 갯수 조회 -->
	<select id="selectListcount" resultType="_int">
		SELECT COUNT(*)
		FROM AFTERSCHOOL_BOARD
		WHERE STU_ID = #{stuId}
	</select>
	
	<!-- 방과후 글 조회 -->
	<select id="selectStudentBoardList" resultMap="afterSchoolBoardResultSet">
		SELECT BO_NO,TITLE,TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE"
		FROM AFTERSCHOOL_BOARD
		WHERE STU_ID = #{stuId}
		ORDER BY BO_NO DESC
	</select>
	
	<!-- 방과후 글 상세 조회 -->
	<select id="selectNowBoard" resultType="AfterSchoolBoard">
		SELECT BO_NO AS boNo,
			   TITLE AS title,
			   BO_CONTENT AS boContent,
			   ORIGIN_NAME AS originName,
				CHANGE_NAME AS changeName
		FROM AFTERSCHOOL_BOARD
		WHERE BO_NO = #{boNo}
	</select>
	
	<!-- 방과후 글 작성 -->
	<insert id="insertStudentBoard">
		INSERT INTO AFTERSCHOOL_BOARD(BO_NO,TITLE,BO_CONTENT,STU_ID,CODE,ORIGIN_NAME,CHANGE_NAME)
				VALUES(SEQ_AFTERSCHOOL_BOARD.NEXTVAL,#{title},#{boContent},#{stuId},#{code},#{originName},#{changeName})
	</insert>
	
	<!-- 방과후 글 수정 -->
	<update id="updateStudentBoard">
		UPDATE AFTERSCHOOL_BOARD
		SET TITLE = #{title},
			BO_CONTENT = #{boContent},
			ORIGIN_NAME = #{originName},
			CHANGE_NAME = #{changeName}
		WHERE BO_NO = #{boNo}
	</update>
	
	<!-- 방과후 글 삭제 -->
	<delete id="deleteStudentBoard">
		DELETE FROM AFTERSCHOOL_BOARD
		WHERE STU_ID = #{stuId} AND BO_NO = #{boNo}
	</delete>


	<!-- 학생 승인 리스트 조회 -->
	<select id="acceptTeacherListbyScCode" parameterType="String"
		resultMap="afterSchoolStudentResultSet">
		SELECT
		a.STU_ID,
		a.CODE,
		a.STATUS,
		s.CLASS_CODE,
		s.STU_NAME
		FROM
		AFTERSCHOOL_STUDENT a
		JOIN
		STUDENT s ON a.STU_ID = s.STU_ID
		WHERE
		a.CODE = #{scCode}
		AND
		a.STATUS = 'N'
	</select>


	<!-- 학생 승인 -->
	<update id="RequestTeacherByTcIdAndStatus">
		UPDATE AFTERSCHOOL_STUDENT
		SET STATUS = 'Y'
		WHERE STU_ID = #{stuId}
		AND CODE = #{scCode}
	</update>



	<!-- 학생 정보 -->
	<resultMap type="Student" id="studentResultSet">
		<result column="STU_ID" property="stuId" />
		<result column="STU_PWD" property="stuPwd" />
		<result column="CLASS_CODE" property="classCode" />
		<result column="STU_NAME" property="stuName" />
		<result column="PHONE" property="phone" />
		<result column="STU_NUM" property="stuNum" />
		<result column="STATUS" property="status" />
		<result column="PIC_NO" property="picNo" />
		<result column="STU_QUESTION" property="stuQuestion" />
		<result column="STU_ANSWER" property="stuAnswer" />
	</resultMap>

	<select id="asCodeStudent" resultMap="studentResultSet">
		SELECT CLASS_CODE,STU_NAME
		FROM STUDENT
		LEFT JOIN AFTERSCHOOL_STUDENT AFS USING(STU_ID)
		WHERE CODE
		= #{code}
		AND
		AFS.STATUS = 'Y'
	</select>



</mapper>