<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="attendanceMapper">
	<resultMap type="Attendance" id="AttendanceResultSet">
		<result column="ADATE" property="aDate"/>
		<result column="STU_ID" property="STU_ID"/>
		<result column="LA" property="LA"/>
	</resultMap>

	<!-- 학생 출결 상태 추가 -->
	<insert id="insertAttendance" parameterType="list">
	    INSERT ALL
	    <foreach collection="list" item="item">
	        INTO ATTENDANCE (ADATE, STU_ID, LA) VALUES (#{item.aDate}, #{item.STU_ID}, #{item.LA})
	    </foreach>
	    SELECT * FROM dual
	</insert>
	
	<!-- 학생 출결 상태 수정 -->
	<update id="updateAttendance" parameterType="java.util.List">
	  <foreach collection="attendanceList" item="Attendance">
	    UPDATE ATTENDANCE
	    SET LA = #{Attendance.LA}
	    WHERE STU_ID = #{Attendance.STU_ID} AND ADATE = #{Attendance.aDate}
	  </foreach>
	</update>


</mapper>