<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="attendanceMapper">
	<resultMap type="Attendance" id="AttendanceResultSet">
		<result column="ADATE" property="aDate"/>
		<result column="STU_ID" property="STU_ID"/>
		<result column="LA" property="LA"/>
	</resultMap>
	
<!-- 오늘날짜 조회 -->
<select id="selectTeacherAttendance" resultMap="AttendanceResultSet">
    SELECT 
        TO_CHAR(ADATE, 'YYYY-MM-DD') as aDate,
        STU_ID,
        LA
    FROM ATTENDANCE 
    WHERE TRUNC(ADATE) = TRUNC(SYSDATE)
</select>

	<!-- 날짜 조회 -->
	<select id="selectAttendance" resultMap="AttendanceResultSet" resultType="int">
		SELECT 
		TO_CHAR(ADATE, 'YYYY-MM-DD') as aDate, STU_ID, LA
		FROM ATTENDANCE
		WHERE ADATE = #{aDate}
	</select>
	
	

	<!-- 학생 출결 상태 추가 -->
	<insert id="insertAttendance" parameterType="list">
	    INSERT ALL
	    <foreach collection="list" item="item">
	        INTO ATTENDANCE (ADATE, STU_ID, LA) VALUES (#{item.aDate}, #{item.STU_ID}, #{item.LA})
	    </foreach>
	    SELECT * FROM dual
	</insert>
	
	<!-- 학생 출결 상태 수정 -->
	<update id="updateAttendance" parameterType="list">
	  UPDATE ATTENDANCE
	  SET LA = CASE 
	    <foreach collection="list" item="Attendance" index="index">
	      WHEN STU_ID = #{Attendance.STU_ID} AND ADATE = #{Attendance.aDate} THEN #{Attendance.LA}
	    </foreach>
	    ELSE LA
	  END
	  WHERE (STU_ID, ADATE) IN (
	    <foreach collection="list" item="Attendance" separator="," open="" close="">
	      (#{Attendance.STU_ID}, #{Attendance.aDate})
	    </foreach>
	  )
	</update>

</mapper>