<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="attendanceMapper">
	<resultMap type="Attendance" id="AttendanceResultSet">
	<result column="ADATE" property="aDate"/>
	<result column="STU_ID" property="STU_ID"/>
	<result column="LA" property="LA"/>
	<result column="STU_NAME" property="stuName"/>
	</resultMap>
	
	<select id="selectAttendance" resultMap="AttendanceResultSet" parameterType="map">
		SELECT A.ADATE, A.STU_ID, A.LA, S.STU_NAME
		<!--  학생 이름 추가  -->
		FROM ATTENDANCE A LEFT JOIN STUDENT S ON A.STU_ID = S.STU_ID
		WHERE S.CLASS_CODE = #{classCode}
	</select>
	
	<resultMap type="Attendance" id="Attendance">
	<result column="ADATE" property="aDate"/>
	<result column="STU_ID" property="STU_ID"/>
	<result column="LA" property="LA"/>
	</resultMap>
	
	<insert id="insertAttendance" parameterType="list">
		INSERT ALL
		<foreach collection="list" item="attendance"> 
		INTO ATTENDANCE (ADATE, STU_ID, LA) VALUES (#{attendance.aDate}, #{attendance.STU_ID}, #{attendance.LA}) 
		</foreach>
		SELECT * FROM dual
	</insert>
</mapper>