<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="studentMapper">
 
 	<resultMap type="HomeworkSubmit" id="HomeworkSubmitResultSet">
 		<result column="STU_ID" property="stuId" />
 		<result column="BO_NO" property="boNo" />
 		<result column="HM_STUCONTENT" property="hmStuContent" />
 		<result column="SCORE" property="score" />
 		<result column="TC_COMMENT" property="tcComment" />
 		<result column="CREATE_DATE" property="createDate" />
 		<result column="STATUS" property="status" />
 		<result column="ORIGIN_NAME" property="originName"/>
 		<result column="CHANGE_NAME" property="changeName"/>
 		
 		<result column="HM_TITLE" property="hmTitle" />
 		<result column="DEADLINE" property="deadLine" />
 		<result column="SUBJECT" property="subject" />
 		<result column="HM_CONTENT" property="hmContent" />
 	</resultMap>
 	
 	<resultMap type="Homework" id="HomeworkResultSet">
 		<result column="BO_NO" property="boNo" />
 		<result column="TC_ID" property="tcId" />
 		<result column="CLASS_CODE" property="classCode" />
 		<result column="HM_TITLE" property="hmTitle" />
 		<result column="DEADLINE" property="deadLine" />
 		<result column="HM_CONTENT" property="hmContent" />
 		<result column="CREATE_DATE" property="createDate" />
 		<result column="SUBJECT" property="subject" />
 		<result column="ORIGIN_NAME" property="originName"/>
 		<result column="CHANGE_NAME" property="changeName"/>
 	</resultMap>
 	
 	<resultMap type="HomeworkFile" id="HomeworkFileResultSet">
 		<result column="BO_NO" property="boNo"/>
 		<result column="ORIGIN_NAME" property="originName"/>
 		<result column="CHANGE_NAME" property="changeName"/>
 	</resultMap>
 	 
 	<select id="showHomeworkList" parameterType="map" resultMap="HomeworkSubmitResultSet">
		SELECT H.BO_NO, H.SUBJECT, H.HM_TITLE, H.DEADLINE, HS.STATUS, HS.SCORE
		FROM HOMEWORK H
		LEFT JOIN HM_SUBMIT HS
		ON H.BO_NO = HS.BO_NO
		AND HS.STU_ID = #{stuId}
		WHERE H.CLASS_CODE = #{classCode}
	</select>
 	
	<!-- 학생 숙제 리스트 갯수 조회 -->
 	<select id="selectListCount" resultType="_int">
 		SELECT COUNT(*)
 		FROM HOMEWORK
 		WHERE CLASS_CODE = #{classCode}
 	</select>
	
	<!-- 학생 숙제 리스트 가져오기 -->
	<select id="selectStudentHomeworkList" resultMap="HomeworkResultSet">
		SELECT h.BO_NO,
			   h.SUBJECT,
			   h.HM_TITLE,
			   TO_CHAR(h.DEADLINE, 'YYYY-MM-DD') AS "DEADLINE",
			   hm.STATUS,
			   hm.SCORE
		  FROM HOMEWORK h
		  LEFT JOIN HM_SUBMIT hm ON h.BO_NO = hm.BO_NO
		 WHERE h.CLASS_CODE = #{classCode}
	  ORDER BY h.BO_NO DESC
	</select>
	
	<!-- 학생 숙제 번호에 맞는 게시글 조회 -->
	<select id="selectNowHomework" resultMap="HomeworkResultSet">
		SELECT h.BO_NO,
			   h.HM_TITLE,
			   h.SUBJECT,
			   TO_CHAR(h.DEADLINE, 'YYYY-MM-DD') AS "DEADLINE",
			   h.HM_CONTENT,
			   hf.ORIGIN_NAME,
			   hf.CHANGE_NAME
		 FROM HOMEWORK h
		 LEFT JOIN HOMEWORK_FILE hf
		   ON h.BO_NO = hf.BO_NO
		 WHERE h.BO_NO = #{boNo}
	</select>
	
	<!-- 학생 숙제 제출 여부 확인 -->
	<select id="selectHomeworkSubmit" resultMap="HomeworkSubmitResultSet">
		SELECT * 
    	  FROM HM_SUBMIT 
    	 WHERE BO_NO = #{boNo} 
      	   AND STU_ID = #{stuId}
	</select>
	
	<!-- 학생 숙제 제출 -->
	<insert id="insertStudentHomework">
		INSERT INTO HM_SUBMIT( STU_ID,
							   BO_NO,
							   HM_STUCONTENT,
							   SCORE,
							   TC_COMMENT,
							   CREATE_DATE,
							   STATUS
							  ) VALUES( #{stuId},
							  			#{boNo},
							  			#{hmStuContent},
							  			<if test="score != null">#{score},</if>
							  			<if test="score == null">0,</if>
							  			<if test="tcComment != null">#{tcComment},</if>
							  			<if test="tcComment == null">'숙제 검사 전입니다.',</if>
							  			SYSDATE,
							  			#{status}
							  			)
	</insert>
	
	<!-- 학생 숙제 답변 조회 -->
	<select id="selectNowAnswer" resultMap="HomeworkSubmitResultSet">
		SELECT hm.BO_NO,
			   h.HM_TITLE,
			   h.SUBJECT,
			   TO_CHAR(h.DEADLINE, 'YYYY-MM-DD') AS "DEADLINE",
			   h.HM_CONTENT,
			   hm.STU_ID,
			   hm.HM_STUCONTENT,
			   hm.SCORE,
			   hm.TC_COMMENT,
			   hm.CREATE_DATE,
			   hf.ORIGIN_NAME,
			   hf.CHANGE_NAME,
			   hm.STATUS
		  FROM HM_SUBMIT hm
		  LEFT JOIN HOMEWORK h ON hm.BO_NO = h.BO_NO
		  LEFT JOIN HOMEWORK_FILE hf ON hm.BO_NO = hf.BO_NO
		 WHERE hm.BO_NO = #{boNo}
	</select>
	
	<!-- 학생 숙제 수정 -->
	<update id="updateStuHomework">
		UPDATE HM_SUBMIT
		   SET HM_STUCONTENT = #{hmStuContent}
		 WHERE BO_NO = #{boNo}
	</update> 
	
	<!-- 학생 점수 가져오기 -->
	<select id="selectStuScore" resultType="Double">
		SELECT AVG(SCORE) as AVG
		  FROM HM_SUBMIT
		  LEFT JOIN HOMEWORK USING(BO_NO)
		 WHERE STU_ID = #{stuId}
		 GROUP BY SUBJECT
		 ORDER BY CASE HOMEWORK.SUBJECT
		  WHEN '국어' THEN 1
		  WHEN '수학' THEN 2
		  WHEN '영어' THEN 3
		  WHEN '과학' THEN 4
		  WHEN '사회' THEN 5
		  WHEN '미술' THEN 6
		  WHEN '체육' THEN 7
		  ELSE 8
		   END
	</select>
	
	<!-- 학급 평균 점수 가져오기 -->
	<select id="selectAVGstuScore" resultType="Double">
		SELECT AVG(SCORE) as AVG
		  FROM HM_SUBMIT
		  LEFT JOIN HOMEWORK USING(BO_NO)
		 WHERE CLASS_CODE = #{classCode}
		 GROUP BY CASE HOMEWORK.SUBJECT
		  WHEN '국어' THEN 1
		  WHEN '수학' THEN 2
		  WHEN '영어' THEN 3
		  WHEN '과학' THEN 4
		  WHEN '사회' THEN 5
		  WHEN '미술' THEN 6
		  WHEN '체육' THEN 7
		  ELSE 8
		   END
	</select>
 </mapper>