#homework a {
	color: #7C604B;
}

.homework-container {
	display: flex;
	flex-direction: column;
}

.homework-title {
	font-size: 30px;
	font-weight: 900;
	color: #A98467;
	margin-bottom: 20px;
	margin-top: 10px;
	background: #DDE5B6;
	width: 973px;
	border-radius: 30px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}

.homework-content {
	padding: 20px;
	border: 3px solid #A98467;
	border-radius: 30px;
	margin-bottom: 20px;
	width: 973px;
	height: 350px;
	overflow-y: auto;
	font-size: 30px;
	color: #A98467;
}

.homework-photo {
	width: 60%;
	height: 100px;
	background-color: #ddd;
	text-align: center;
	line-height: 100px;
	border-radius: 12px;
	color: #7f7f7f;
	margin-top: 130px;
}

.answer-section {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.answer-list {
	width: 973px;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    border: 10px solid #DDE5B6;
    height: 300px;
    overflow-y: auto;
    position: relative;
    font-size: 20px;
    color: #A98467;
}


.submit-button {
	padding: 10px 15px;
	background-color: #a5d6a7;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
}

.submit-button:hover {
	background-color: #81c784;
}

hr {
	width: 973px;
	height: 6px;
	background: #A98467;
	border-radius: 50px;
}

.teacher-comments textarea {
	width: 973px;
	height: 250px;
	padding: 20px;
	border: 3px solid #A98467;
	border-radius: 30px;
	resize: none;
	margin-bottom: 10px;
	color: #A98467;
	font-size: 20px;
	margin-top: 20px;
}

.score-save {
	display: flex;
	align-items: center;
	/* gap: 10px; */
	background: #DDE5B6;
	border-radius: 50px;
	padding: 10px 60px;
	font-size: 30px;
	color: #A98467;
}

.score-save input {
	    width: 580px;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: #A98467;
}

.save-button {
	padding: 5px 15px;
    width: 140px;
    height: 40px;
    background-color: #A98467;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
}

.save-button:hover {
	background-color: #89684e;
}

/* 스크롤바 스타일 */
.whole_body::-webkit-scrollbar {
	width: 10px;
}

.whole_body::-webkit-scrollbar-thumb {
	 background: #A98467; /* 핸들 색상 */
   border-radius: 10px; /* 둥근 모서리 */
}

.whole_body::-webkit-scrollbar-track {
	background: #F2CEB2; 
   border-radius: 10px;
   margin-top: 30px;
   margin-bottom: 30px;
}

.whole_body {
	width: 1040px;
	height: 790px;
	margin-left: 603px;
	margin-top: 65px;
	padding: 10px;
	border: #A98467 solid 3px;
	border-radius: 30px;
	overflow: auto;
}