
.whole_body {
   width: 1040px;
   height: 790px;
    margin-left: 603px;
   margin-top: 65px;
    padding: 10px;   
    border: #A98467 solid 3px;
    border-radius: 15px;
    overflow: auto;
}
/* 댓글 섹션 스크롤바 스타일 */
.whole_body::-webkit-scrollbar {
    width: 10px; /* 스크롤바 너비 */
    border-radius: 30px;
     max-height: 790px;
}

.whole_body::-webkit-scrollbar-track {
    background: #F2CEB2; /* 스크롤바 트랙 배경 색상 */
    border-radius: 10px;
}

.whole_body::-webkit-scrollbar-thumb {
    background: #A98467; /* 스크롤바 핸들 색상 */
    border-radius: 10px; /* 둥근 모서리 */
}

.whole_body::-webkit-scrollbar-thumb:hover {
    background: #81644e; /* 스크롤바 핸들 호버 색상 */
}
.whole_body > .box {
    background-color: #fff; /* 배경색 추가 */
    padding: 20px; /* 패딩 추가 */
    border-radius: 10px; /* 테두리 둥글게 */
    
}

.whole_body > .box > h1 {
    color: #A98467;
    font-size:30px;
}


/* 스크롤바 트랙(배경) 스타일 */
.whole_body::-webkit-scrollbar-track {
   background: #F2CEB2; 
   border-radius: 10px;
   margin-top: 30px;
   margin-bottom: 30px;
}

/* 스크롤바 핸들 스타일 */
.whole_body::-webkit-scrollbar-thumb {
   background: #A98467; /* 핸들 색상 */
   border-radius: 10px; /* 둥근 모서리 */
}

/* 스크롤바 핸들에 호버했을 때 스타일 */
.whole_body::-webkit-scrollbar-thumb:hover {
   background: #81644e; /* 호버 시 핸들 색상 */
}

.attendance-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 25px;
    
}

.attendance-table th, .attendance-table td {
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    color: #A98467;
    padding: 10px;
}

.attendance-table th {
     color:#A98467;
    font-weight: 800;
}

.attendance-table td {
    font-size: 23px;
    font-weight: 500;
    color:#A98467;
}

.attendance-table tbody tr:hover {
            background-color: #DDE5B6; 
            cursor: pointer; 
            width:130%;
        }

/* 점수 칸 스타일 추가 */
.attendance-table td.score {
    width: 100px;
}


