.navigate-button{
	width: 220px;
    height: 50px;
    border-radius: 30px;
    padding-left: 35px;
    font-size: 23px;
    border: none;
    background: #d7e6c6;
    color: #7c6b2c;
    font-weight: 800;
    margin-top: 10px;
    float: right;
}

#subjectSelect{
	width: 180px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    font-size: 23px;
    border: none;
    background: #d7e6c6;
    color: #7c6b2c;
    font-weight: 800;
    line-heigh: 50px;
    margin-top: 10px;
}

.whole_body {
    width: 1050px;
    height: 802px;
    margin-left: 620px;
    padding: 20px; /* 패딩 추가 */
    border: #A98467 solid 3px;
    border-radius: 12px;
    margin-top: 70px;
}

.whole_body > .box {
    background-color: #fff; /* 배경색 추가 */
    padding: 20px; /* 패딩 추가 */
    border-radius: 10px; /* 테두리 둥글게 */
}

.whole_body > .box > h1 {
    color: #A98467;
    margin-top: 10px;
    padding-left: 20px;
}

.attendance-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 25px;
}

.attendance-table th, .attendance-table td {
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    color: #A98467;
    padding: 10px;
}

.attendance-table th {
    color:#A98467;
    font-weight: 800;
}

.attendance-table td {
    font-size: 23px;
    font-weight: 500;
    color:#A98467;
}
.attendance-table td a{
	color:#A98467;
}

/* 점수 칸 스타일 추가 */
.attendance-table td.score {
    background-color: #d4edda; /* 초록색 배경 */
    border-radius:  30px; /* 둥근 모서리 */
    width: 100px;
    height: 20px;
}

.homeworkplus {
    position: fixed;
    bottom: 80px;
    right: 280px;
}

.pencil {
    width: 70px;
    height: 30px;
}


.navigate-button {
    background-color: #d7e6c6; /* 연한 초록색 배경 */
    color: #7c6b2c; /* 갈색 텍스트 */
    border: none;
    border-radius: 20px; /* 둥근 모서리 */
    padding: 5px 10px; /* 여백 */
    font-weight: bold; /* 글자 굵기 */
    cursor: pointer;
}

.navigate-button:hover {
    background-color: #c5d7a9; /* 호버 시 색상 변화 */
}
