.use_body1 {
    margin: 10px 228px 0 603px;
    height: 962px;
    width: 1040px;
    box-sizing: border-box;
    overflow: hidden;
}

#counsel-page a {
    color: #705845 !important;
}

.counsel-calendar {
    width: 1040px;
    height: 55%;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #DDE5B6;
}

.body-write {
    display: flex;
    height: 50px;
    align-items: center;
    margin-bottom: 20px;
}

.counsel-apply {
    font-size: 30px;
    margin-left: 40px;
    font-weight: bold;
    color: #A98467;
}

.counsel-date {
    font-size: 23px;
    color: #A98467;
    margin-right: 20px;
    background-color: #DDE5B6;
    width: 250px;
    padding-left: 40px;
    height: 40px;
    border-radius: 30px;
    display: flex;
    /* 텍스트와 이미지를 한 줄에 배치 */
    align-items: center;
    /* 수직 중앙 정렬 */
}

.calendar-img {
    margin-left: 20px;
    /* 텍스트와 이미지 간격 조정 */
    height: 30px;
    /* 이미지 크기 조정 */
    margin-top: -5px;
    cursor: pointer;
}

.counsel-information {
    width: 1040px;
    height: 280px;
    border: solid #A98467 3px;
    border-radius: 10px;
	overflow-y: auto;
}


.information-info {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    font-size: 23px;
    color: #A98467;
}

.information-info div{
	width:25%; 
	text-align: center;
}

#counselTable{
	width:100%; 
	text-align: center;
	border-collapse: collapse;
}

#counselTable tr:hover{
    background-color: #FAEDCD;
    cursor: pointer;
}

#counselTable td{
	height:45px;
	width:25%;
}

hr {
    width: 950px;
    border: solid #A98467 1.3px;
}

.real-information-info {
    display: flex;
    font-size: 23px;
    color: #A98467;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    
}


.timeplace {
    margin-left: 45px;
    background-color: #DDE5B6;
    width: 135px;
    border-radius: 30px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.childname {
    margin-left: 85px;
}

.phone {
    margin-left: 70px;
}


/*채팅버튼*/
#chat_button {
    position: absolute;
    right: 47px;
    bottom: 40px;
    height: 100px;
    width: 100px;
    background-color: #DDE5B6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}



.selectdd {
    background-color: #DDE5B6;
    width: 200px;
    height: 50px;
    display: flex;
    padding-left: 30px;
    align-items: center;
    margin-right: -350px;
    border-radius: 20px;
    color: #A98467;
    font-size: 20px;
}

.img-calendar {
    margin-right: 40px;
    padding-bottom: 3px;
}

/* 달력 */
.wrap {
    width: 1040px;
    height: 520px;
    margin-bottom: 98px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    color: #A98467;
    border: none;
    background-color: #DDE5B6;
    border-radius: 10px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    /* 한 줄에 요소가 꽉 차면 다음 줄로 넘어가게 설정 */

}

/* 스크롤바 전체 스타일 */
.wrap::-webkit-scrollbar {
    width: 13px;
}

/* 스크롤바 트랙(배경) 스타일 */
.wrap::-webkit-scrollbar-track {
    background: #F2CEB2;
    border-radius: 10px;
}

/* 스크롤바 핸들 스타일 */
.wrap::-webkit-scrollbar-thumb {
    background: #A98467;
    /* 핸들 색상 */
    border-radius: 10px;
    /* 둥근 모서리 */
}

/* 스크롤바 핸들에 호버했을 때 스타일 */
.wrap::-webkit-scrollbar-thumb:hover {
    background: #81644e;
    /* 호버 시 핸들 색상 */
}

/* 스크롤바 전체 스타일 */
.counsel-information::-webkit-scrollbar {
    width: 13px;
}
/* 스크롤바 트랙(배경) 스타일 */
.counsel-information::-webkit-scrollbar-track {
    background: #F2CEB2;
    border-radius: 10px;
}

/* 스크롤바 핸들 스타일 */
.counsel-information::-webkit-scrollbar-thumb {
    background: #A98467;
    /* 핸들 색상 */
    border-radius: 10px;
    /* 둥근 모서리 */
}

/* 스크롤바 핸들에 호버했을 때 스타일 */
.counsel-information::-webkit-scrollbar-thumb:hover {
    background: #81644e;
    /* 호버 시 핸들 색상 */
}

#calendar {
    width: 100%;
}

.header {
    background-color: #A98467;
    text-align: center;
    font-size: 30px;
    color: white;
    width: 50%;
    padding: 5px;
    border-radius: 50px;
    margin-top: 10px;
    position: relative;
    left: 20px;
}

#monthSelect {
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
    height: 100%;
    font-size: 20px;
    margin-top: -50px;
    background-color: #70584500;
    color: white;
    font-size: 40px;
    padding: 0;
}

#calendar td {
    width: 140px;
    max-width: 140px;
    height: 100px;
    color: #7C604B;
    border: #7C604B solid 2px;
    border-radius: 10px;
    background-color: white;
    font-weight: 900;
}


#calendar tbody td {
    cursor: pointer;
    padding: 0;
}



.modal {
    display: none;
    /* 기본적으로 숨김 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    font-size: 20px;
    color: #A98467;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 3px solid #A98467;
    border-radius: 30px;
    width: 30%;
    height: 30%;
    position: absolute;
    left: 40%;
    top: 35%;
    max-height: 35%;
    /*스크롤제한높이*/
    overflow-y: auto;
    /*스크롤활성화*/
}

.modal-content td {
    text-align: center;
    margin: 10px;
}


.close {
    width: 40px;
    height: 40px;
    line-height: 38px;
    color: #A98467;
    float: right;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    background-color: #DDE5B6;
    border-radius: 10px;
    padding: 5px;
}

.close:hover,
.close:focus {
    color: #705845;
    text-decoration: none;
    cursor: pointer;
}

.modal-content input {
    border: #7C604B solid 2px;
    border-radius: 20px;
    padding: 10px;
    color: #705845;
    font-size: 15px;
    margin: 5px;
}

.modal-content button {
    width: 30%;
    height: 35px;
    display: block;
    background-color: #705845;
    color: white;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
    font-size: 20px;
}

.button-check {
    width: 150px;
    background-color: #A98467;
    color: white;
    border-radius: 30px;
    margin-top: 25px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 0px;
    cursor: pointer;
    font-size: 20px;
    height: 40px;
    
}

/* 모달 스타일 */
.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
    font-size: 20px;
    color: #A98467;
 }
 
 .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 50px;
    border: 3px solid #A98467;
    border-radius: 50px;
    width: 30%;
    height: 30%;
    max-height: 35%; /*스크롤제한높이*/
    overflow-y: auto;/*스크롤활성화*/
 }
 
 .modal-content #modalDate{
    margin-top: 120px;
    margin-left: 350px;
 }
 
 .close {
    width: 40px; height: 40px;
    line-height: 38px;
    color: #A98467;
    float: right;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    background-color: #DDE5B6;
    border-radius: 10px;
    padding: 5px;
 }
 
 .close:hover,
 .close:focus {
    color: #705845;
    text-decoration: none;
    cursor: pointer;
 }
 
 /* 스크롤바 전체 스타일 */
 .modal-content::-webkit-scrollbar {
    width: 10px;
 }
 
 /* 스크롤바 트랙(배경) 스타일 */
 .modal-content::-webkit-scrollbar-track {
    background: #F2CEB2; 
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
 }
 
 /* 스크롤바 핸들 스타일 */
 .modal-content::-webkit-scrollbar-thumb {
    background: #A98467; /* 핸들 색상 */
    border-radius: 10px; /* 둥근 모서리 */
 }
 
 /* 스크롤바 핸들에 호버했을 때 스타일 */
 .modal-content::-webkit-scrollbar-thumb:hover {
    background: #81644e; /* 호버 시 핸들 색상 */
 }

.appointment-time{
    background-color: #DDE5B6;
    width: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calendar tbody td:hover {
    background-color: rgb(217, 215, 215);
}


.appointment-time:hover {
    background-color: #bfc59e;
    color: white;
}


.contact-number{
    display: flex;
    margin-left: 75px;
}

.counsel-topic{
    display: flex;
    margin-left: 25px;
}

.time{
    background-color: #DDE5B6;
    width: 180px;
    height: 35px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}
.cs_button{
	border: 0px;
	color: #7C604B;
	background-color: #DDE5B6; 
	border-radius: 20px; 
	padding: 5px 20px; 
	margin-top: 5px; 
	font-size:15px; 
	width:90%;
	cursor: pointer;
    margin-bottom: 5px;
}

.cs_nubutton{
	border: 0px;
	color: white;
	background-color: #bfc59e; 
	border-radius: 20px; 
	padding: 5px 20px; 
	margin-top: 5px; 
	font-size:15px; 
	width:90%;
	cursor: auto;
    margin-bottom: 5px;
}

.cs_button:hover{
	background-color: #bfc59e;
	color: white;
}