
.whole_body {
   width: 1040px;
   height: 790px;
    margin-left: 603px;
   margin-top: 65px;
    padding: 10px;   
    border: #A98467 solid 3px;
    border-radius: 30px;
}

.whole_body > .box {
    background-color: #fff; /* 배경색 추가 */
    padding: 20px; /* 패딩 추가 */
    border-radius: 10px; /* 테두리 둥글게 */
}

.whole_body > .box > h1 {
    color: #A98467;
    font-size:30px;
}

.attendance-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 25px;
}

.attendance-table th, .attendance-table td {
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    color: #A98467;
    padding: 10px;
}

.attendance-table th {
     color:#A98467;
    font-weight: 800;
}

.attendance-table td {
    font-size: 23px;
    font-weight: 500;
    color:#A98467;
}

/* 점수 칸 스타일 추가 */
.attendance-table td.score {
    background-color: #DDE5B6;
    border-radius:  30px;
    width: 100px;
    padding:0px;
}


