*{
    overflow:visible;
}
#content_border{
    position:absolute; 
    border: 3px solid #A98467; 
    border-radius: 30px; 
    bottom: 47px; 
    right: 228px; 
    width: 1089px; 
    height: 830px;
}
#community_title{
    position:absolute; 
    left:30px;
    top: 20px;
    color: #A98467;
}
.create_button{
    position:absolute; 
    width: 150px;
    height: 50px;
    left: 450px;
    bottom: 20px;
    border-radius: 40px; 
    background-color: #F4DABF;
    color:#A98467;
    font-size: 20px;
    border: 0px;
}
.create_button:hover{
    background-color: #A98467;
    color: white;
    cursor: pointer;
}
#modify_button{
    left: 730px;
}

#re_button{
	left:50px;
}

#delete_button{
    left: 890px;
    background: #E9AAAA;
    color: white;
}

#delete_button:hover{
	background:#D28383;
}
#enroll_title{
    position:absolute;
    top: 25px;
    left: 47px;
    background-color: #DDE5B6; 
    border-radius: 40px;
    width: 989px;
    height: 60px;
}
#en_title{
    position:absolute;
    text-align: center;
    top: 10px;
    left: 50px;
    width: 889px;
    height: 40px;
    color:#A98467;
    background: none;
    font-size: 30px;
    border: 0px;
}
#en_title::placeholder {
    color: #A98467; /* 원하는 색상 코드로 변경 */
    opacity: 1; /* 투명도 설정 (1이 불투명, 0이 완전 투명) */
}
#en_title:focus {
    outline: none;
}
#enroll_content{
    position: absolute;
    bottom: 90px;
    left: 47px;
    border: 3px solid #A98467;
    width: 989px;
    height: 630px;
    
}
.note-editor .note-editable {
    overflow-y: auto; /* 수직 스크롤바를 사용 가능하게 */
}

/* 스크롤바 스타일 */
.note-editor .note-editable::-webkit-scrollbar {
    width: 8px; /* 스크롤바 너비 */
}

.note-editor .note-editable::-webkit-scrollbar-thumb {
    background-color: #A98467; /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥글게 */
}

.note-editor .note-editable::-webkit-scrollbar-thumb:hover {
    background-color: #81644e; /* 마우스 오버 시 색상 변경 */
}

.note-editor .note-editable::-webkit-scrollbar-track {
    background: #F2CEB2; /* 스크롤바 트랙 색상 */
}

#enroll_file{
    position:absolute;
    display: flex;
    align-items: center;
    bottom: 20px;
    left: 20px;
    background-color: #DDE5B6; 
    border-radius: 40px;
    width: 950px;
    height: 60px;
    font-size: 20px;
    color: #b08467;
}

#enroll_file a{
	text-decoration: underline;
    color: #b08467;
}

.custom-file-upload {
    position:absolute;
    left: 20px;
    padding: 10px 20px;
    color: #A98467;
    background-color: white; /* 버튼 색상 */
    border: 0px;
    border-radius: 30px; /* 모서리 둥글게 */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: #A98467;
    color: white;
}
.file-name {
    position: absolute;
    left: 380px;
    width: 200px;
    font-size: 20px;
    color: #b08467;
}
.note-resizebar {
    display: none;
}
#chat_button{
    position: absolute;
    right: 47px;
    bottom: 40px;
    height: 100px;
    width: 100px;
    background-color: #DDE5B6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.note-frame {
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    color: #000;
	font-size:25px;
}

/* 모달 */
 /* 정보수정 모달 스타일 */
 .modal {
   display: none; 
   position: fixed;
   z-index: 1000; 
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5); /* 배경 어둡게 */
}

.modal-content {
   background-color: #fefefe;
   margin: auto;
   padding: 40px;
   border: 3px solid #A98467;
   border-radius: 30px;
   width: 25%;
   position: absolute;
   left: 40%;
   top: 20%;
   color: #A98467;
   font-size: 20px;
}

.modal h2 {
   width: 80%;
   text-align: left;
   color: #A98467;
   font-size: 25px;
   margin-left: -10px;
   margin-top: -10px;
}

.modal form{
  text-align: center;
}

.modal .close {
   position: absolute; 
   top: 20px;
   right: 20px; 
   cursor: pointer;
    width: 40px; height: 40px;
   line-height: 38px;
   color: #A98467;
   float: right;
   font-size: 45px;
   font-weight: bold;
   text-align: center;
   background-color: #DDE5B6;
   border-radius: 10px;
   padding: 5px;
   opacity: 1 !important; /* 우선순위 높이기 */
}

.modal input {
   width: 250px;
   height: 40px;
   color: #A98467;
   border-radius: 20px;
   border: #A98467 solid 2px;
   margin: 10px 0px;
   text-align: center;
   font-size: 15px;
}

.modal tr td div input{
   width: 80px;
}

.modal button{
  background-color: #DDE5B6;
  padding: 10px;
  border-radius: 10px;
  width: 150px;
  border:none;
  font-size: 15px;
  color: #A98467;
}

.modal button:hover{
  background-color: #bfc59e;
  padding: 10px;
  border-radius: 10px;
  width: 150px;
  border:none;
  font-size: 15px;
  color: white;
}



.close:hover,
.close:focus {
   color: #705845;
   text-decoration: none;
   cursor: pointer;
}