

/* 방과후 메인 */
.wrap {
   width: 1040px;
   height: 790px;
   margin-left: 603px;
   margin-top: 65px;
   margin-bottom: 98px;
   font-size: 25px;
   color: #A98467;
   border:none;
   border-radius: 30px;
   padding: 10px;   
}

.header_left{
   border: #A98467 solid 2px;
   border-radius: 40px;
   width: 70%; height: 230px;
   float: left;
   padding: 30px;
   line-height: 50px;
}

.header img{
   width:225px;
   margin-left: 40px;
}

.list{
   border: #A98467 solid 2px;
   border-radius: 40px;
   padding: 40px;
   margin-top: 20px;
   height:520px;
}

.writebutton{
   float: right;
   width: 150px;
   height: 40px;
   padding: 10px;
   font-size: 18px;
   border-radius: 20px;
   border: none;
   background-color: #DDE5B6;
   color: #A98467;
   margin-top:-30px;
   cursor:pointer;
}

.writebutton:hover{
	background-color:#ADC178;
	color:white;
}

.list table {
   margin-top: 30px;
   width: 100%;
   text-align: center;
   table-layout: fixed;
   border-collapse: collapse;
  
}

.list table tbody tr:hover {
    background-color: #DDE5B6;
    cursor:pointer;
}

.list tr th{
   border-bottom: #7C604B solid 3px;
   padding: 10px;
}

.list tr td{
   border-bottom: #7C604B solid 2px;
   padding: 5px;
}

.list tr:last-child td{
   border: none;
   padding: 5px;
}

#arrow_button{
    position:absolute;
    display: flex;
    bottom: 90px;
    left:930px;
}
#arrow_button button{
    width: 50px;
    height: 50px;
    border: 0px;
    font-size: 20px;
    font-weight: bolder;
    color:#A98467; 
    background-color:transparent;
    cursor: pointer;
}
.title-limit{
	width: 300px;
}
#left_arrow{
    background-image: url(/resources/img/left_arrow.png) ;
    background-repeat : no-repeat; 
    background-position : center;   
}
#right_arrow{
    background-image: url(/resources/img/left_arrow.png) ;
    background-repeat : no-repeat; 
    background-position : center;   
}

