
/* 마이페이지 */
.wrap {
   width: 1040px;
   height: 790px;
   margin-left: 603px;
   margin-top: 65px;
   margin-bottom: 98px;
   font-size: 25px;
   color: #A98467;
   border:none;
   border-radius: 30px;
   padding: 10px;   

}

.banner{
   height: 55%;
   margin-bottom: 10px;
}
.banner img {
   width: 100%;
   height: 100%;
}

.banner table {
   position: absolute;
   top: 28%;
   left: 58%;
   transform: translate(-50%, -50%);
   border-collapse: collapse;
   width: 25%;
   color: white;
   text-shadow: 2px 2px 0px #A98467;
}

.banner table th, .banner table td {
   padding: 8px;
   text-align: center;
}

.banner table thead {
   font-weight: bold;
}

.banner table tr td:nth-child(2){
   border-right: white dotted 3px;
}

.student_myPage{
   border:#A98467 solid 3px;
   width: 280px;
   height: 43%;
   float: left;
   margin-left: 60px;
   background-color: white;
   border-radius: 30px;
   padding: 20px;
   text-align: center;
   font-size:85%;
   line-height: 30px;
}

.student_myPage img{
   display: block;
   width: 70%;
   margin-bottom: 10px;
   cursor: pointer;
   z-index: 10000;
}

.food{
   width: 600px;
   height: 45%;
   float: right;
   margin-right: 60px;
   text-align: center;
   font-size: 20px;
}

.food img{
   width: 100%;
   height: 100%;
}

.food_left, .food_right {
   margin-top: -200px;
   transform: translateY(-50%); 
   width: 45%;
   box-sizing: border-box;
}

.food h4{
   background-color: #DDE5B6;
   border-radius: 50px;
   padding: 10px;
   width: 150px;
}

.food_left {
   margin-left: 20px;
   margin-top: -215px;
   line-height: 23px;
   float:left;
}

.food_right {
   margin-right: 20px;
   margin-top:-280px;
   line-height: 23px;
   float:right;
}
.food1{
   margin-top:25px;
}
.food2{
   margin-top:130px;
}

/* 추가적인 스타일 */
h4 {
   margin-bottom: 10px; /* 제목과 내용 사이 여백 */
}

p {
   margin: 5px 0; /* 단락 사이 여백 */
}


/* 모달 */
 /* 정보수정 모달 스타일 */
 .modal2 {
   display: none; 
   position: fixed;
   z-index: 1000; 
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5); /* 배경 어둡게 */
}

.modal-content2 {
   background-color: #fefefe;
   margin: auto;
   padding: 40px;
   border: 3px solid #A98467;
   border-radius: 30px;
   width: 25%;
   position: absolute;
   left: 40%;
   top: 20%;
   color: #A98467;
   font-size: 20px;
}

.modal2 hr{
   margin:10px;
   height:5px;
   background-color: #A98467;
}

.modal2 h2 {
   width: 80%;
   text-align: left;
   color: #A98467;
   font-size: 25px;
   margin-left: -10px;
   margin-top: -10px;
}

.modal2 form{
  text-align: center;
}

.modal2 .close {
   position: absolute; 
   top: 20px;
   right: 20px; 
   cursor: pointer;
}

.modal2 input {
   width: 250px;
   height: 40px;
   color: #A98467;
   border-radius: 20px;
   border: #A98467 solid 2px;
   margin: 10px 0px;
   text-align: center;
   font-size: 15px;
}

.modal2 tr td div input{
   width: 80px;
}

.modal2 button{
  background-color: #DDE5B6;
  padding: 10px;
  border-radius: 10px;
  width: 150px;
  border:none;
  font-size: 15px;
  color: #A98467;
}

.modal2 button:hover{
  background-color: #bfc59e;
  padding: 10px;
  border-radius: 10px;
  width: 150px;
  border:none;
  font-size: 15px;
  color: white;
}

.close {
   width: 40px; height: 40px;
   line-height: 38px;
   color: #A98467;
   float: right;
   font-size: 45px;
   font-weight: bold;
   text-align: center;
   background-color: #DDE5B6;
   border-radius: 10px;
   padding: 5px;
}

.close:hover,
.close:focus {
   color: #705845;
   text-decoration: none;
   cursor: pointer;
}

/* 이미지 선택 모달의 이미지 그리드 스타일 */
.image-grid {
   display: grid;

   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
   margin-top: 20px;
}
.image-grid img {
   width: 100px;
   height: 100px;
   cursor: pointer;
   border: 2px solid transparent;
}
input[type="radio"]:checked + img{
	border-color: #333;
}


.modal3 {
   display: none; 
   position: fixed;
   z-index: 1000; 
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5); /* 배경 어둡게 */
}

.modal-content3 {
   background-color: #fefefe;
   margin: auto;
   padding: 40px;
   border: 3px solid #A98467;
   border-radius: 30px;
   width: 25%;
   position: absolute;
   left: 40%;
   top: 20%;
   color: #A98467;
   font-size: 20px;
}

.image-grid img {
   width: 100px; 
   height: 100px; 
   border-radius: 50%; 
   transition: border 0.3s; 
}

.image-grid img.selected {
   border: 5px solid #d1c673; /* 노란색 테두리 */
  
}

.modal3 button{
   width: 200px;
   height: 40px;
   display: block;
   padding: 10px;
   border-radius: 10px;
   margin-top: 20px;
   background-color: #DDE5B6;
   color: #A98467;
   border: none;
   font-size: 20px;
   line-height: 10px;
}

.modal3 button:hover{
   background-color: rgb(166, 175, 115);
   color: white;
}